{% extends 'layout.twig' %}
{% block main_content %}
    <section>
        <div class="container">
            <div class="row">    
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>        
    </section>

{% endblock %}