{% extends 'layout.twig' %}
{% block main_content %}
    <h3 class="text-center">Nuevo Usuario</h3>
    <section>
        <div class="container">
            <div class="row">    
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4 col-md-offset-4">

                        {{msg}}

                    </div>
                </div>
            </div>
        </div>        
    </section>

{% endblock %}