{% extends 'layout.twig' %}
{% block main_content %}
    <h3 class="text-center">Empleados</h3>
    <a href="/shop/crear/" class="pull-right"><button class="btn btn-warning">Nuevo Usuario</button></a>
    <br>
    <table class="table">
        {% for post in posts %}
        <tr>
            <td> {{post.id}} </td> 
            <td>{{ post.name }} {{ post.lastName }} {{post.secondLastName}} </td>
            <td>{{post.rut}}</td>
            <td><a href="/shop/{{post.id}}"><button class="btn btn-primary">Editar</button></a></td> 
            <td><form action="/shop/eliminar/{{post.id}}" method="POST"><input type="submit" class="btn btn-danger" value="Eliminar"/></form></td> 
        </tr>
        {% endfor %}
    </table>

{% endblock %}