{% extends 'layout.twig' %}
{% block main_content %}
    <br>
    <table class="table">
        {% for post in posts %}
        <tr>
            <td> {{post.id}} </td> 
            <td> {{post.description}} </td>
            <td> {{dump(post.tags)}} </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}