{% extends 'layout.twig' %}
{% block main_content %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

<script>
window.onload = function () {
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello world desde Vue JS!'
        }
     });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'pagina cargada : ' + new Date().toLocaleString()
        }
    });
    var app3 = new Vue({
    el: '#app-3',
    data: {
        seen: false
    }
    });
    var app4 = new Vue({
    el: '#app-4',
    data: {
        todos: [
        { text: 'Aprender JavaScript' },
        { text: 'Aprender Vue' },
        { text: 'Aprender bootstrap' }
        ]
    }
    });
    var app5 = new Vue({
    el: '#app-5',
    data: {
        message: 'ola ke ase!'
    },
    methods: {
        reverseMessage: function () {
        this.message = this.message.split('').reverse().join('')
        }
    }
    });
    var app6 = new Vue({
    el: '#app-6',
    data: {
        message: 'ola ke ase'
    }
    });
    Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{ "{{todo.text}}" }}</li>'
    })

    var app7 = new Vue({
    el: '#app-7',
    data: {
        groceryList: [
        { id: 0, text: 'Vegetales' },
        { id: 1, text: 'Queso' },
        { id: 2, text: 'Bebida'},
        { id: 3, text: 'Opio'}
        ]
    }
    });

    var data = { a: 1 };
    var vm = new Vue({
    data: data
    });
    if(vm.a === data.a){
        console.log("son iguales");
    }
    vm.a = new Date().toLocaleString();

    console.log(data.a);


    var obj = {
    foo: 'bar'
    }

    Object.freeze(obj);

    new Vue({
    data () {
        return {
        obj
        }
    }
    });

    console.log(obj.foo);

    new Vue({
    data: {
        a: 145
    },
    created: function () {
        // `this` points to the vm instance
        console.log('a is: ' + this.a)
    }
    });
    var vm = new Vue({
    el: '#example',
    data: {
        message: 'lalala123'
    },
    computed: {
        // a computed getter
        reversedMessage: function () {
        // `this` points to the vm instance
        return this.message.split('').reverse().join('')
        }
    }
    });
    var vm = new Vue({
    el: '#demo',
    data: {
        firstName: 'Héctor',
        lastName: 'Pérez',
        fullName: 'Héctor Pérez'
    },
    watch: {
        firstName: function (val) {
        this.fullName = val + ' ' + this.lastName
        },
        lastName: function (val) {
        this.fullName = this.firstName + ' ' + val
        }
    }

   
    });

     var vm = new Vue({
        el: '#demo1',
        data: {
            firstName: 'Martín',
            lastName: 'Concha'
        },
        computed: {
            fullName: function () {
            return this.firstName + ' ' + this.lastName
            }
        },
        // setter
        set: function (newValue) {
        var names = newValue.split(' ')
        this.firstName = names[0]
        this.lastName = names[names.length - 1]
        }
        }); 

}        
</script>



<div id="app-2">
  <span v-bind:title="message">
    Hover para titulo dinámico
  </span>
</div>
<br>
<div id="app">
  {{ "{{message}}" }}
</div>
<br>
<div id="app-3">
  <span v-if="seen">Visible</span>
</div>
<br>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ "{{todo.text}}" }}
    </li>
  </ol>
</div>
<br>
<div id="app-5">
  <p>{{ "{{message}}" }}</p>
  <button v-on:click="reverseMessage">Invertir Mensaje</button>
</div>
<br>
<div id="app-6">
  <p>{{ "{{message}}" }}</p>
  <input v-model="message">
</div>
<br>

<div id="app-7">
  <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>
<div id="example">
  <p>Mensaje original: "{{ "{{message}}" }}"</p>
  <p>Mensaje Invertido: "{{ "{{reversedMessage}}" }}"</p>
</div>
<h3>Computed vs Watched </h3>
<div id="demo">{{ "{{fullName}}" }}</div>
<div id="demo1">{{ "{{fullName}}" }}</div>
<br>
<h3>Shorthands</h3>
<a v-bind:href="https://google.cl"> google</a>

<a :href="https://google.cl"> google </a>

<br>

<a v-on:click="doSomething"> ... </a>

<a @click="doSomething"> ... </a>

{% endblock %}